.THIS {
}

.THIS .searchBar {
    width: 100%;
}

.THIS .largeModal > .slds-modal__content {
    width: 80%;
}

.THIS .spins::after {
    position: absolute;
    content: "Please wait while loading";
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}