h1 {
    text-align: center;
    color: rgb(0, 112, 210);
    font-size: xx-large;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.card {
    padding-left: 3%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
p {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}
.Search {
    width: 70%;
    padding-left: 3%;
}
.rating {
    color: rgb(18, 47, 212);
    padding-top: 2%;
    font-size: large;
}