* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    /* max-width: 300px; */
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width:100%;
    }

    /* Make the image to responsive */
    .image {
    display: block;
    width: 100%;
    height: auto;
    }

    /* The overlay effect - lays on top of the container and over the image */
    .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    }

    .vid-overlay {
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    }

    .video-div {
        width:100%;
    }

    .container:hover .overlay {
        opacity: 1;
      }

      .date-container {
        text-align: center;
      }